
<h3>Kana Table</h3>
<mat-slide-toggle
    (change)="showHiragana = !showHiragana"
    [checked]="showHiragana"
    [color]="'accent'">
  show hiragana
</mat-slide-toggle>
<mat-slide-toggle
    (change)="showKatakana = !showKatakana"
    [checked]="showKatakana"
    [color]="'accent'">
  show katakana
</mat-slide-toggle>
<mat-slide-toggle
    (change)="showRomaji = !showRomaji"
    [checked]="showRomaji"
    [color]="'accent'">
  show romaji
</mat-slide-toggle>
<div class="kana-table" *ngIf="(kana | async) as table">
  <ng-container *ngVar="['a', 'i', 'u', 'e', 'o'] as aiueo">
  <ng-container *ngVar="[
      '-', 'k', 's', 't', 'n', 'h', 'm', 'y', 'r', 'w', '*'
    ].reverse() as consonants">
    <div class="vowel-row">
      <div class="consonant-column"
          *ngFor="let consonant of consonants">
        {{ consonant }}
      </div>
      <div class="consonant-column">&nbsp;</div>
    </div>
    <div class="vowel-row" *ngFor="let vowel of aiueo">
      <div class="consonant-column" *ngFor="let consonant of consonants">
        <ng-container *ngIf="table[consonant][vowel]?.Seion as entry">
          <ng-container *ngIf="showHiragana">{{ entry.Hiragana }}</ng-container>
          <ng-container *ngIf="showKatakana">{{ entry.Katakana }}</ng-container>
          <ng-container *ngIf="showRomaji"><br />{{ entry.Romaji }}</ng-container>
        </ng-container>
      </div>
      <div class="consonant-column">
        {{ vowel }}
      </div>
    </div>
  </ng-container>
  </ng-container>
</div>